---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Showcase from "../components/Showcase.astro";
import HowItWorks from "../components/HowItWorks.astro";
import ProfilePreview from "../components/ProfilePreview.astro";
import Comparison from "../components/Comparison.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import ScrollFX from "../components/ScrollFX.astro";
---

<Layout>
	<div class="min-h-screen bg-[#0a0a12] text-white antialiased">
		<ScrollFX />
		<Header />
		<main>
			<Hero />
			<Features />
			<ProfilePreview />
			<HowItWorks />
			<Showcase />
			<Comparison />
			<FAQ />
			<CTA />
		</main>
		<Footer />
	</div>
</Layout>
